---
title: "Project Two | Code Stitch Web Designs"
description: "Meta description for the page"
preloadImg: "/assets/images/cabinets2.jpg"
permalink: "project-two/"
eleventyNavigation:
    key: Project Two
    order: 3200
    parent: Projects
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css" />
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Dinner Summer 2025</h1>
        <picture>
            <source
                media="(max-width: 600px)"
                srcset="/assets/images/bistro.jpg"
            />
            <source
                media="(min-width: 601px)"
                srcset="/assets/images/bistro.jpg"
            />
            <img
                aria-hidden="true"
                decoding="async"
                src="/assets/images/bistro.jpg"
                alt="kitchen cabinets"
                loading="eager"
                width="2500"
                height="1667"
            />
        </picture>
    </section>

    <!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-975">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit dolor volutpat porttitor sagittis nunc nisl. Sagittis sit</span>
        </div>
        <div class="cs-menu">
            <!--Left Menu-->
            <ul class="cs-menu-group">
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Haircut With Blow Dry</span>
                        <span class="cs-price">$39</span>
                    </h3>
                    <p class="cs-menu-text">
                        Creative way to paint, decorate, enhance, and embellish.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Haircut With Blow Dry</span>
                        <span class="cs-price">$39</span>
                    </h3>
                    <p class="cs-menu-text">
                        Creative way to paint, decorate, enhance, and embellish.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Haircut With Blow Dry</span>
                        <span class="cs-price">$39</span>
                    </h3>
                    <p class="cs-menu-text">
                        Creative way to paint, decorate, enhance, and embellish.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Haircut With Blow Dry</span>
                        <span class="cs-price">$39</span>
                    </h3>
                    <p class="cs-menu-text">
                        Creative way to paint, decorate, enhance, and embellish.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Haircut With Blow Dry</span>
                        <span class="cs-price">$39</span>
                    </h3>
                    <p class="cs-menu-text">
                        Creative way to paint, decorate, enhance, and embellish.
                    </p>
                </li>
            </ul>
            <!--Right Menu-->
            <ul class="cs-menu-group">
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Haircut With Blow Dry</span>
                        <span class="cs-price">$39</span>
                    </h3>
                    <p class="cs-menu-text">
                        Creative way to paint, decorate, enhance, and embellish.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Haircut With Blow Dry</span>
                        <span class="cs-price">$39</span>
                    </h3>
                    <p class="cs-menu-text">
                        Creative way to paint, decorate, enhance, and embellish.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Haircut With Blow Dry</span>
                        <span class="cs-price">$39</span>
                    </h3>
                    <p class="cs-menu-text">
                        Creative way to paint, decorate, enhance, and embellish.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Haircut With Blow Dry</span>
                        <span class="cs-price">$39</span>
                    </h3>
                    <p class="cs-menu-text">
                        Creative way to paint, decorate, enhance, and embellish.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Haircut With Blow Dry</span>
                        <span class="cs-price">$39</span>
                    </h3>
                    <p class="cs-menu-text">
                        Creative way to paint, decorate, enhance, and embellish.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>

    {% include 'components/cta.html' %}
{% endblock %}
