---
title: "Reviews | Code Stitch Web Designs"
description: "Meta description for the page"
preloadImg: "/assets/images/cabinets2.jpg"
permalink: "reviews/"
eleventyNavigation:
    key: Reservations
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/reviews.css" />
{% endblock %}

{% block body %}
    <!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-2320">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit dolor volutpat porttitor sagittis nunc nisl. Sagittis sit</span>
            <!--Form-->
            <form class="cs-form" id="cs-form-323-2320" name="Contact Form" method="post">
                <label class="cs-label">
                    Name
                    <input class="cs-input" required type="text" name="name" placeholder="Name">
                </label>
                <label class="cs-label cs-email">
                    Email
                    <input class="cs-input" required type="email" name="email" placeholder="Email">
                </label>
                <label class="cs-label cs-phone">
                    Date
                    <input class="cs-input" required type="tel" name="phone" placeholder="Date">
                </label>
                <label class="cs-label cs-services">
                    Number of People
                    <input class="cs-input" required type="text" name="Number" placeholder="Number">
                </label>
                <label class="cs-label">
                    Message
                    <textarea class="cs-input cs-textarea" required name="Message" placeholder="Write message..."></textarea>
                </label>
                <button class="cs-button-solid cs-submit" type="submit">Send Message</button>
            </form>
        </div>
    </div>
</section>

    {% include 'components/cta.html' %}
{% endblock %}
